################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecondSightWeb.Api/bin
/SecondSightWeb.Api/obj/Debug
/.vs
/packages
